.container {
  max-width: 960px;
  margin: 0 auto;
  align-items: center;
}

.lh-condensed { line-height: 1.25; }


.aLaDerecha{
  align-items: right;
}

.botones-centrados{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buscadores{
  display: flex;
  justify-content: space-between;
  margin: auto;
}