<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Categorizaciones</title>

    <!-- Bootstrap core CSS -->
    <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="public/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <header>
        {{>navbar.hbs}}
    </header>

    <div class="d-flex" id="wrapper">


        {{>sidebar.hbs}}

        <!-- Page Content -->



        <div id="page-content-wrapper">


            <h1 class="mt-4 text-center">Documentos</h1>

            <div class="col-xs-3">
                <label for="opciones" class="  h5">Categoria  </label>

                <select id="categoria" class="btn btn-secondary btn-lg ">
                {{#if categoriaString}}
                <option value={{categoriaString}} class="btn btn-secondary btn-lg" disabled selected>{{categoriaString}}</option>
                {{else}}
                <option value="" class="btn btn-secondary btn-lg" disabled selected>Seleccionar Categoria</option>
                {{/if}}
                {{#each categorias}}
                    <option value="{{categoria}}">{{categoria}}</option>
                {{/each}}

            </select>

                <label for="opciones" class=" h5">Tipo Documento  </label>
                <select id="filtro" class="btn btn-secondary btn-lg">
                {{#if tipoDocumento}}
                <option value={{tipoDocumento}} class="btn btn-secondary btn-lg" disabled selected>{{tipoDocumento}}</option>
                {{else}}
                <option value="" class="btn btn-secondary btn-lg" disabled selected>Seleccionar Doc</option>
                {{/if}}
                <option value="Egresos">Egresos</option>
                <option value="Ingresos">Ingresos</option>
                <option value="Presupuestos">Presupuestos</option>  
                
                 
            </select>


                <button type="button" class="btn btn-info" onclick="filtrarTipoPorCategoria()">BUSCAR</button>


            </div>


            <div class="row py-5 "></div>


            {{#if documentos}}

            <div class="contenido-centrado ">
                <table class="table gradual ">
                    <thead class="thead-dark ">
                        <tr>
                            <th scope="col ">#</th>
                            <th scope="col ">Nro</th>
                            <th scope="col ">Monto</th>
                            <th scope="col ">Fecha</th>
                            <th scope="col "></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each documentos}}
                        <tr class="ultimo-final ">
                            <th scope="row ">1</th>
                            <td>{{id}}</td>
                            <td> {{#if valorTotal}} {{valorTotal}} {{else}} {{monto}} {{/if}}</td>
                            <td>{{fecha}}</td>
                            <td>

                                <button class="btn btn-yoel " onclick="route('{{tipoDocumento}}','{{id}}')">Seleccionar</button>

                            </td>
                        </tr>
                        {{/each}}

                    </tbody>



                </table>

            </div>

            {{/if}} {{#if presupuestos}}

            <div class="contenido-centrado ">
                <table class="table gradual ">
                    <thead class="thead-dark ">
                        <tr>
                            <th scope="col ">#</th>
                            <th scope="col ">Nro</th>
                            <th scope="col ">Proveedor</th>
                            <th scope="col ">Monto</th>
                            <th scope="col ">Items</th>
                            <th scope="col "></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each presupuestos}}
                        <tr class="ultimo-final ">
                            <th scope="row ">1</th>
                            <td>{{id}}</td>
                            <td>{{proveedor.nombre}}</td>
                            <td>{{valorTotal}}</td>
                            <td>{{nombreItems}}</td>
                            <td>
                                <a href="detalleEgreso.html ">
                                    <button class="btn btn-yoel ">Seleccionar</button>
                                </a>
                            </td>
                        </tr>
                        {{/each}}

                    </tbody>



                </table>

            </div>

            {{/if}}





        </div>









    </div>
    <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/public/vendor/jquery/jquery.min.js "></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="/public/js/functions.js "></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle ").click(function(e) {
            e.preventDefault();
            $("#wrapper ").toggleClass("toggled ");
        });

        function filtrarTipoPorCategoria() {

            filtro = document.getElementById('filtro').value;
            categoria = document.getElementById('categoria').value;

            window.location = "/categoria?tipoDoc=" + filtro + "&categoria=" + categoria;
        };

        function route(tipoDoc, id) {
            window.location = "/" + tipoDoc.toLowerCase().slice(0, -1) + "/" + id;
        };
    </script>

</body>

</html>