<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/public/vendor/bootstrap/css/bootstrap.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/public/js/functions.js"></script>


    <link href="/public/css/simple-sidebar.css" rel="stylesheet">


    <!-- Custom styles for this template -->


    <title>Detalle Egreso</title>

</head>

<body>

    <header>
        {{>navbar.hbs}}
    </header>

    <div class="d-flex" id="wrapper">


        {{>sidebar.hbs}}

        <!-- Page Content -->

        <div id="page-content-wrapper">
            <h1 class="mt-4 text-center">Detalle de Egreso {{egreso.id}}</h1>
            <div class="contenido-centrado contenedor">

                <ul class="list-group color-none">

                    <li class="list-group-item color-none"> ID: {{egreso.id}}</li>
                    <li class="list-group-item color-none">Fecha: {{egreso.fecha}}</li>
                    <li class="list-group-item color-none">Monto: {{egreso.valorTotal}}</li>
                    <li class="list-group-item color-none">Categoría: {{egreso.categoria.categoria}}</li>
                    <li class="list-group-item color-none"> <!--Orden de Compra {{egreso.ordenDeCompra.idOrden}} -->
                    <a href="/orden/{{egreso.ordenDeCompra.idOrden}}">{{egreso.ordenDeCompra.idOrden}}</a> </li>
                    <li class="list-group-item color-none">Presupuesto {{egreso.ordenDeCompra.idOrden}} </li>
                    <li class="list-group-item color-none">Documentos comerciales: {{egreso.documentosComerciales}}</li>
                    <li class="list-group-item color-none">Medio de Pago: {{nombreMedioPago}} <img class="d-block mx-auto mb-4" src={{imagenMedioPago}} alt="" width="50" height="50"> </li>

                    <!--Para ver los items hay que ir a la orden de compra!-->

                </ul>

                <div class="separar-arriba">
                    <a href="/modificarEgreso/{{egreso.id}}" class="btn btn-primary">Modificar</a>
                    <button type="button" class="btn btn-borrar" onclick="confirmarBorrarEgreso('{{egreso.id}}')">Borrar</button>
                    <a href="/egresos" class="btn btn-danger">Volver</a>
                </div>

            </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->




</body>

<!-- ================= ELIMINACION ================== -->
<div class="modalEliminar modal" id="eliminarEgresoVentana">
    <div class="modalContent">
        <input type="hidden" value="" id="egresoId">
        <p>¿Realmente desea eliminar el egreso?</p>
        <button type="button" name="button" class="btn-close-modal" onclick="cerrarConfirmacionBorrar()"><i class="fas fa-times-circle"></i></button>
        <br>
        <div class="">
            <button type="button" name="button" class="btn-rojo" onclick="eliminarEgreso()">Eliminar</button>
            <button type="button" name="button" class="btn-cancelar" onclick="cerrarConfirmacionBorrar()">Cancelar</button>
        </div>
    </div>
</div>
<!-- ================= FIN ELIMINACION ================== -->

</html>