<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bienvenidos a GeSoc</title>

    <!-- Bootstrap core CSS -->
    <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/tables.bootstrap.min.css" rel="stylesheet">
    <link href="public/css/jquery.tables.min.css" rel="stylesheet">
    <link href="public/css/custom.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="public/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <header>
        {{>navbar.hbs}}
    </header>

    <div class="d-flex" id="wrapper">


        <!-- Sidebar -->
        {{>sidebar.hbs}}
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <h1 class="mt-4 text-center">Egresos</h1>

            <div class="row py-5"></div>

            <div class="contenido-centrado">
                <table id="tabla_egresos" class="table gradual display">
                    <thead class="thead-dark">
                    	<tr>
                            <th scope="col">Nro</th>
                            <th scope="col">Monto</th>
                            <th scope="col">Fecha</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each egresos}}
                        <tr class="ultimo-final">                         
                            <td>{{id}}</td>
                            <td>{{valorTotal}}</td>
                            <td>{{fecha}}</td>
                            <td>
                                <a href="/egreso/{{id}}">
                                    <button class="btn btn-yoel">DETALLE</button>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                <a href="/crearEgreso">
                    <button type="button" class="btn btn-warning">Crear Egreso</button>
                </a>
            </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="public/vendor/jquery/jquery.min.js"></script> --->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Load Table Library -->
    {{>loadTableLibrary.hbs}}
	<!-- Load Table Library -->

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <!-- Script Init Table -->
    {{>tableInitScript.hbs}}
	<!-- Script Init Table -->

</body>

</html>