<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/public/vendor/bootstrap/css/bootstrap.css">

    <script src="/public/vendor/jquery/jquery.min.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/public/css/styles-nuevo.css">
    <script src="/public/js/functions.js"></script>
    <title>Nuevo Ingreso</title>
</head>

<body>
    <main class="contenido-centrado contenedor">

        <form {{#if ingreso}} action="/ingreso/{{ingreso.id}}" {{else}} action="/ingreso" {{/if}} method="post">
            <fieldset class="">
                <legend class="centrar-texto">{{#if ingreso}} Modificando Ingreso {{ingreso.id}} {{else}} Nuevo Ingreso {{/if}}</legend>

                <label>Id Ingreso: {{repos.proximoId}} </label>

                <label for="descripcion">descripcion</label>
                <input type="" id="descripcion" name="descripcion" {{#if ingreso}} value="{{ingreso.descripcion}}" {{else}}placeholder="Breve Descripcion" {{/if}} required>

                <label for="nombre">Monto</label>
                <input type="" id="monto" name="monto" {{#if ingreso}}value="{{ingreso.monto}}" {{else}} placeholder="0.00" {{/if}} required>

            </fieldset>

            <div class="">
                <input type="submit" class="btn btn-primary" {{#if ingreso}} value="Modificar Ingreso" {{else}} value="Crear Ingreso" {{/if}}> {{#if ingreso}}
                <button type="button" class="btn btn-borrar" onclick="confirmarBorrar('{{ingreso.idIngreso}}')">Borrar</button> {{/if}}
                <a href="/ingresos" class="btn btn-danger">Cancelar</a>
            </div>

        </form>
    </main>

</body>

<!-- ================= ELIMINACION ================== -->
<div class="modalEliminar modal" id="eliminarIngresoVentana">
    <div class="modalContent">
        <input type="hidden" value="" id="ingresoId">
        <p>¿Realmente desea eliminar el ingreso?</p>
        <button type="button" name="button" class="btn-close-modal" onclick="cerrarConfirmacionBorrar()"><i class="fas fa-times-circle"></i></button>
        <br>
        <div class="">
            <button type="button" name="button" class="btn-rojo" onclick="eliminarIngreso()">Eliminar</button>
            <button type="button" name="button" class="btn-cancelar" onclick="cerrarConfirmacionBorrar()">Cancelar</button>
        </div>
    </div>
</div>
<!-- ================= FIN ELIMINACION ================== -->

</html>