<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/styles-nuevo.css">
    <title>Nuevo Producto</title>
</head>

<body>
    <main class="contenido-centrado contenedor">

        <form {{#if producto}} action= "/producto/{{producto.idProducto}}" {{else}} action= "/producto" {{/if}} method="post">
            <fieldset class="">
                <legend class="centrar-texto">{{#if producto}} Modificando {{producto.nombre}}
                    {{else}} Nuevo Producto {{/if}}</legend>

                <label>Id Producto: {{producto.idProducto}}</label>

                <label for="codigo"><br>Código</label>
                <input type= "" id="codigo" name="codigo"{{#if producto}}value="{{producto.codProducto}}"{{else}}placeholder="Código Producto"{{/if}} requiered>

                <label for="nombre">Nombre</label>
                <input type="" id="nombre" name="nombre" {{#if producto}}value= "{{producto.nombre}}" {{else}}placeholder="Nombre Producto"{{/if}} required>

                <label for="descripcion">descripcion</label>
                <input type="" id="descripcion" name="descripcion" {{#if producto}} value= "{{producto.descripcion}}" {{else}}placeholder="Breve Descripción"{{/if}} required>


                <select name="opciones">
                    {{#if producto}} <option>{{producto.tipoProducto}}</option>{{else}}
                    <option value="" disabled selected>-- Tipo Producto --</option>{{/if}}
                    <option value="Articulo">Articulo</option>
                    <option value="Servicio">Servicio</option>
                </select>

            </fieldset>

            <div class="">
                <input type="submit" class="btn btn-primary"{{#if producto}} value="Modificar Producto" {{else}} value="Crear Producto" {{/if}}>
                <a href="/productos" class = "btn btn-borrar">Borrar</a>
                <a href="/productos" class = "btn btn-danger">Cancelar</a>
            </div>

        </form>
    </main>

</body>

</html>