<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/public/vendor/bootstrap/css/bootstrap.css">


    <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/public/css/styles-nuevo.css">
    <script src="/public/js/functions.js"></script>
    <title>Nuevo Producto</title>

</head>

<body>
    <header>
        {{>navbar.hbs}}
    </header>

    <main class="contenido-centrado contenedor">

        <form {{#if producto}} action= "/producto/{{producto.idProducto}}" {{else}} action= "/producto" {{/if}} method="post">
            <fieldset class="">
                <legend class="centrar-texto">{{#if producto}} Modificando {{producto.nombre}}
                    {{else}} Nuevo Producto {{/if}}</legend>

                <label>Id Producto: {{producto.idProducto}}</label>

                <label for="codigo"><br>Código</label>
                <input type= "" id="codigo" name="codigo"{{#if producto}}value="{{producto.codProducto}}"{{else}}placeholder="Código Producto"{{/if}} requiered>

                <label for="nombre">Nombre</label>
                <input type="" id="nombre" name="nombre" {{#if producto}}value= "{{producto.nombre}}" {{else}}placeholder="Nombre Producto"{{/if}} required>

                <label for="descripcion">descripcion</label>
                <input type="" id="descripcion" name="descripcion" {{#if producto}} value= "{{producto.descripcion}}" {{else}}placeholder="Breve Descripción"{{/if}} required>


                <select name="opciones">
                    {{#if producto}} <option>{{producto.tipoProducto}}</option>{{else}}
                    <option value="" disabled selected>-- Tipo Producto --</option>{{/if}}
                    <option value="Articulo">Articulo</option>
                    <option value="Servicio">Servicio</option>
                </select>

            </fieldset>

            <div class="">
                <input type="submit" class="btn btn-primary"{{#if producto}} value="Modificar Producto" {{else}} value="Crear Producto" {{/if}}>
                {{#if producto}}
                <button type="button" class="btn btn-borrar" onclick="confirmarBorrar('{{producto.idProducto}}')">Borrar</button>
                 {{/if}}
                <a href="/productos" class = "btn btn-danger">Cancelar</a>
            </div>

        </form>
    </main>

</body>

<!-- ================= ELIMINACION ================== -->
<div class="modalEliminar modal" id="eliminarProductoVentana">
    <div class="modalContent">
        <input type="hidden" value="" id="productoId">
        <p>¿Realmente desea eliminar el producto?</p>
        <button type="button" name="button" class="btn-close-modal" onclick="cerrarConfirmacionBorrar()" ><i class="fas fa-times-circle"></i></button>
        <br>
        <div class="">
            <button type="button" name="button" class="btn-rojo" onclick="eliminarProducto()">Eliminar</button>
            <button type="button" name="button" class="btn-cancelar" onclick="cerrarConfirmacionBorrar()">Cancelar</button>
        </div>
    </div>
</div>
<!-- ================= FIN ELIMINACION ================== -->

</html>