<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/styles-nuevo.css">
    <title>Nuevo Producto</title>
</head>

<body>
    <main class="contenido-centrado contenedor">

        <form action="">
            <fieldset class="">
                <legend class="centrar-texto">{{#if producto}} Modificando {{producto.nombre}}
                    {{else}} Nuevo Producto {{/if}}</legend>

                <label>Id Producto: {{producto.idProducto}}</label>

                <label for="codigo"><br>Código</label>
                <input type="text" id="codigo" {{#if producto}}placeholder= {{producto.codProducto}}{{else}}placeholder="Código Producto"{{/if}} requiered>

                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" {{#if producto}}placeholder= {{producto.nombre}}{{else}}placeholder="Nombre Producto"{{/if}} required>

                <label for="descripcion">descripcion</label>
                <input type="text" id="descripcion" {{#if producto}}placeholder= {{producto.descripcion}}{{else}}placeholder="Breve Descripción"{{/if}} required>


                <select id="opciones">
                    {{#if producto}} <option>{{producto.tipoProducto}}</option>{{else}}
                    <option value="" disabled selected>-- Tipo Producto --</option>{{/if}}
                    <option value="articulo">Articulo</option>
                    <option value="licencia">Licencia</option>
                </select>

            </fieldset>
            <div class="">
                <a href="detalleEgreso.html" class = "btn btn-primary ">Crear Producto</a>
                <a href="egresos.html" class = "btn btn-danger">Cancelar</a>
            </div>

            <!--<input type="submit" class="boton">-->
        </form>
    </main>

</body>

</html>