<!-- ============================================================== -->
<!-- left sidebar Admin-->
<!-- ============================================================== -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Menu:</div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Organizaciones</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Usuarios</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Estadisticas</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Configuracion</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->