<!-- ============================================================== -->
<!-- left sidebar -->
<!-- ============================================================== -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Operaciones con:</div>
    <div class="list-group list-group-flush">
        <a href="ordenDeCompra.html" class="list-group-item list-group-item-action bg-light">Ordenes de Compra</a>
        <a href="egresos/" class="list-group-item list-group-item-action bg-light">Egresos</a>
        <a href="ingresos/" class="list-group-item list-group-item-action bg-light">Ingresos</a>
        <a href="" class="list-group-item list-group-item-action bg-light">Presupuestos</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Categorizaciones</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Vinculaciones</a>
        <a href="https://www.campusvirtual.frba.utn.edu.ar/especialidad/pluginfile.php/218810/mod_resource/content/1/TP%20DDS%202020.pdf
        " target="_blank" class="list-group-item list-group-item-action bg-light">Trabajo Practico</a>

    </div>
</div>
<!-- /#sidebar-wrapper -->