{{>header.hbs}}


<div id="page-content-wrapper">

    <div class="contenido-centrado">
    <h1 class="text-center">Vinculaciones</h1>

    <form class="contenido-centrado"action="">
        <fieldset>
        <div>

            <label>Criterio de Viculacion</label>
                <select>
                    {{#each criterios}}
                    <option>{{nombre}}</option>
                    {{/each}}
                </select>
        </div>
        <div>
            <label>Condiciones Para Vinculacion</label>
                <select>
                    <option>OP1</option>
                    <option>OP2</option>
                </select>
        </div>
        </fieldset>
    </form>

    <div class="show-vinculacion">

        <label for="por-balance">Balance</label>
        <input type="radio" name="vinculaciones" value="balances" id="por-balance">

        <label for="por-ingreso">Ingresos</label>
        <input type="radio" name="vinculaciones" value="ingresos" id="por-ingreso">

        <input type="button" onclick="mostrarSeleccionado()" value="Mostrar Tabla">
    </div>
        <div class="contenido-centrado">
        <table id="vincu-table" class="table  gradual">
            {{#if balances}}<thead class="thead-dark"><tr><th>#</th><th>Balance</th><th></th></tr></thead>{{/if}}
            {{#each balances}}
            <tr><td>#</td><td>{{id}}</td><td><button class="btn btn-yoel">Ver más</button></td></tr>
            {{/each}}
            {{#if ingresos}}<thead class="thead-dark"><tr><th>#</th><th>Ingreso</th><th></th></tr></thead>{{/if}}
            {{#each ingresos}}
            <tr><td>#</td><td>{{id}}</td><td><a href="/work ing"><button class="btn btn-yoel">Ver más</button></a></td></tr>
            {{/each}}
        </table>
        </div>



    </div>

</div>

{{>footer.hbs}}


<script src="/public/js/functions.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script>

    let tabla = document.querySelector('table');
    function mostrarSeleccionado() {
        $("#vincu-table tr").remove();
        if(document.getElementById('por-balance').checked){
            window.location = "/vincular?criterio=primeroEgreso";
        }
        if(document.getElementById('por-ingreso').checked){
            window.location = "/vinculaciones?mostrar=ingresos";

        }
    }

</script>