{{>header.hbs}}


<div id="page-content-wrapper">

    <div class="contenido-centrado">
    <h1 class="text-center">Vinculaciones</h1>

    <form class="contenido-centrado"action="">
        <fieldset>
        <div>

            <label >Criterio de Viculacion</label>
                <select name="vinculaciones">
                    {{#each criterios}}
                    <option id="{{nombre}}">{{nombre}}</option>
                    {{/each}}
                </select>
        </div>
        <div>
            <label>Condiciones Para Vinculacion</label>
                <select>
                    <option>OP1</option>
                    <option>OP2</option>
                </select>
        </div>
        </fieldset>
    </form>

    <div class="show-vinculacion">
        <label>Fecha Desde:</label>
        <div class='input-group date' id='desdeFecha'>
            <input type='date' class="form-control" name="fechaDesde" id="fechaDesde" placeholder="DD/MM/AAAA" />
        </div>

        <label>Fecha Hasta</label>
        <div class='input-group date' id='hastaFecha'>
            <input type='date' class="form-control" name="fechaHasta" id="fechaHasta" placeholder="DD/MM/AAAA" />
        </div>

        <input type="button" onclick="mostrarSeleccionado()" value="Vincular">
    </div>




    </div>

</div>

{{>footer.hbs}}


<script src="/public/js/functions.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script>


    function mostrarSeleccionado() {

        if(document.getElementById('primeroEgreso')){
            window.location = "/vincular?criterio=primeroEgreso";
            alert("Se Creo tu vinculacion con el método Primero Egreso y ademas se descargo en el directorio del Proyecto!");
        }
        else{
            window.location = "/working";

        }
    }

</script>